<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>We'll be right back after never!</h1>
    <p>We are currently updating our website. So please go fuck yourself. Quickly.</p>
  </body>
</html>
